.sidebar {
    background-color: dodgerblue;
    width: 16rem;
    position: fixed;
    height: 100%;
  }
  .brand {
    color: white;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    font-weight: bolder;
  }
  .links a {
    color: white;
    margin: 2rem 3rem;
    text-decoration: none;
    font-size: 1.1rem;
    display: flex;
    gap: 1rem;
  }
  .links a:hover {
    border-right-color: white;
    color: black;
  }
  .links li {
    border-right: 0.3 rem solid transparent;
    margin: 1rem 0;
    list-style-type: none;
    transition: 0.3s ease-in-out;
  }
  .links li:hover {
    border-right-color: black;
    color: black;
  }
  .links .active {
    border-right: 0.3rem solid white;
  }
  